<div class="container-fluid bg-light min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card shadow" style="width: 350px;">
        <div class="card-header text-center">
            <h4 class="card-title">Добро пожаловать в SlideSync</h4>
            <p class="card-subtitle text-muted">Введите ник для входа</p>
        </div>
        <div class="card-body">
            <form id="nickname-form" action="/Home/Presentations" method="GET">
                <div class="mb-3">
                    <input type="text" class="form-control text-center" name="nickname" placeholder="Ваш ник" required autofocus>
                </div>
                <button type="submit" class="btn btn-primary w-100">Войти</button>
            </form>
        </div>
    </div>
</div>