<div class="bg-black">
    <header class="bg-dark text-white p-2 d-flex justify-content-between align-items-center">
        <h5 class="mb-0" id="presenting-title">Заголовок презентации</h5>
        <a href="Editor" class="btn btn-sm btn-outline-light" id="exit-present-button">
            <i class="bi bi-x-lg me-1"></i> Выход
        </a>
    </header>

    <div class="d-flex flex-grow-1 align-items-center justify-content-center">
        <div class="bg-white" style="aspect-ratio: 16/9; max-height: 90vh; width: 90%;" id="presenting-slide">
        </div>
    </div>
</div>